.column {
  width: 30%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .name {
    .heading {
      font-size: 4.5rem;
    }
    .sub-heading {
      font-size: 2.5rem;
      font-weight: 500;
      letter-spacing: 0.5rem;
    }
  }
  .social {
    .social-heading {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      margin: 0.5rem 0;
      text-align: center;
    }
    .fb {
      margin-left: 6rem;
      padding-right: 4rem;
      img {
        filter: invert(40%) sepia(53%) saturate(613%) hue-rotate(181deg)
          brightness(87%) contrast(93%);
      }
    }
    .insta {
      img {
        filter: invert(39%) sepia(27%) saturate(2100%) hue-rotate(302deg)
          brightness(90%) contrast(86%);
      }
    }
    img {
      transform: scale(1.5);
      padding-top: 1rem;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .column {
    width: 40%;
    z-index: 1;
    .name {
      .heading {
        text-align: center;
        font-size: 3.5rem;
      }
      .sub-heading {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .column {
    width: auto;
    min-height: auto;
    margin-bottom: 3rem;
  }
}
