.about {
  width: 76%;
  height: 100vh;
  overflow: auto;

  &-container {
    display: block;
  }
  img {
    margin-top: 1rem;
    padding: 0 1.5rem;
    width: 40rem;
    float: left;
    object-fit: cover;
    object-position: top;
  }

  .profile-summary {
    float: right;
    padding: 2rem 1rem;
    p {
      padding: 0 1.5rem;
      text-align: justify;
    }
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .about {
    width: 76%;
    height: auto;
    // overflow: auto;
    &-container {
      // flex-direction: column;
      display: block;
      gap: 2rem;
    }
    .profile-image {
      height: 40%;
      display: inline;
    }
    img {
      margin-top: 1rem;
      padding: 0 1.5rem;
      float: left;
      width: 50%;
    }
    .profile-summary {
      float: right;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    width: auto;
    height: auto;
    overflow: hidden;
    margin: auto;
    img {
      width: 20rem;
    }
    .profile-summary {
      p {
        text-align: start;
      }
    }
  }
}
