.nav-link {
  text-decoration: none;
  color: white;
}
.nav {
  background-color: black;
  color: white;
  font-size: 1.8rem;
  display: flex;

  .logo {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 80%;
    margin: auto;
    cursor: pointer;

    .nav-link-active {
      text-align: center;
      // width: 100%;
      color: black;
      background-color: rgba(255, 255, 255, 0.7);
    }
    .nav-item {
      padding: 1rem;

      &:hover {
        width: 100%;
        color: black;
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  .burger {
    display: none;
    div {
      width: 2.5rem;
      height: 0.3rem;
      background-color: #fff;
      margin: 0.5rem;
      transition: all 0.3s ease;
    }
  }
}

@media screen and (max-width: 720px) {
  body {
    overflow-x: hidden;
  }
  .nav {
    height: 8vh;
    z-index: 100;
    background: black;
    .logo {
      display: block;
    }
    .nav-active {
      transform: translateX(0%) !important;
    }
    .nav-links {
      z-index: 10;
      width: 100%;
      position: absolute;
      right: 0;
      height: 100vh;
      top: 8vh;
      background-color: black;
      display: flex;
      flex-direction: column;
      transform: translatey(-120%);
      transition: transform 0.5s ease-in;
      .nav-link {
        width: 100%;
        text-align: center;
      }
      .nav-link-active {
        width: 100%;
      }
    }

    .burger {
      display: block;
      margin-top: auto;
      margin: auto 21px;
      margin-left: auto;

      .toggle {
        &-line-1 {
          transform: rotate(-45deg) translate(-0.5rem, 0.6rem) !important;
        }
        &-line-2 {
          opacity: 0;
        }
        &-line-3 {
          transform: rotate(45deg) translate(-0.5rem, -0.6rem);
        }
      }
    }
  }

  @keyframes NavLinkFade {
    from {
      opacity: 0;
      transform: translateX(5rem);
    }
    to {
      opacity: 1;
      transform: translateX(0rem);
    }
  }
}
