.jewellery {
  width: 76%;
  max-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  object-position: center;
  flex-wrap: wrap;
  gap: 2rem;
  img {
    flex: 1;
    width: 28rem;
    // height: 100%;
  }

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: #404040;
  }
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #737272;
    border: 1px solid #000;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 145, 148);
  }
  img {
    width: 23rem;
    flex: 1;
  }
}
